@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
}

.boardSpaceHeight {
  height: calc(100vh - 113px);
}

.topBarWidth {
  width: calc(100vw - 325px);
}
